{% extends "FilmsCatalogBundle::layout.html.twig" %}

{% block body %}

    <h1>{{ category.title }}</h1><br/>
    {% for item in category.films %}
        <div class="film">
            <div class="title">{{ item.title }}</div>
            <img src="{{ item.picture }}" height="100px">
            <div class="director">{{ item.director.firstname }}&nbsp{{ item.director.lastname }}</div>
        </div>
    {% endfor %}

{% endblock %}